from django.shortcuts import render, redirect
from django.views.decorators.csrf import csrf_exempt
from .models import Venta, Cliente

@csrf_exempt
def finalizar_compra(request):
    if request.method == 'POST':
        # Obtener el cliente basado en el ID proporcionado
        cliente_id = request.POST.get('cliente_id')
        cliente = Cliente.objects.get(id=cliente_id)
        total = calcular_total(request)  # Supone que tienes una función para calcular el total
        venta = Venta(cliente=cliente, total=total)
        venta.save()

        # Redirigir a la página de confirmación de compra
        return redirect('compra_confirmacion')
    return redirect('carrito')  # Redirigir de vuelta al carrito si no es una solicitud POST
