<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Compra Completada</title>
</head>
<body>
    <div id="mensaje" style="display:none;">
        <h1>¡Felicidades por su compra!</h1>
        <p>Gracias por comprar con nosotros. Sus datos han sido enviados al dashboard.</p>
        <a href="{% url 'index' %}" class="btn btn-primary">Volver al Inicio</a>

    </div>

    <script>
        // Función para mostrar el mensaje de felicitación
        function mostrarMensaje() {
            document.getElementById('mensaje').style.display = 'block';
        }

        // Función para enviar datos de compra al backend
        function enviarDatosCompra(datos) {
            fetch('{% url "recibir_datos_compra" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(datos)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Simula el evento de finalizar la compra
        window.onload = function() {
            mostrarMensaje();
            // Simula datos de compra
            const datosCompra = {
                producto: 'Nombre del Producto',
                precio: 100,
                cantidad: 1
            };
            enviarDatosCompra(datosCompra);
        };
    </script>
</body>
</html>
